<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>Job Finder AI</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div id="wrap">
  <div id="header">
    <h1 id="logo">Job Finder AI</h1>
    <h2 id="slogan">Smart job search</h2>
  </div>
  <div id="menu">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/register">Register</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="/train">Train</a></li>
      <li><a href="/search">Search</a></li>
    </ul>
  </div>
  <div id="main"> <a name="TemplateInfo"></a>
    <h1>Welcome to Job Finder AI!</h1>
    <p><strong>Job Finder AI</strong> helps speed up job search by filtering job postings that you are not interested in. This removes the frustration of going over thousands of irrelevant job postings and saves you a lot of time.
    <h1>How to use</h1>
    <p> Register an account and login. Click "Train" to begin training the algorithm to look for jobs that align with your skills and interests.
    Press "Search" to obtain a list of job postings aggregated from multiple sites that are filtered based on your criteria.
  </div>
</div>
<div id="footer">
  <div id="footer-content">
    <div id="footer-right"> <a href="#">Logout</a></div>
    <div id="footer-left"> &copy; Copyright 2018 <strong>Job Finder AI</strong></div>
  </div>
</div>
</body>
</html>
