.flex-container {

  width: 800px;
  margin: auto;
  -webkit-box-shadow: 0px 0px 34px 10px rgba(79,79,79,0.57);
  -moz-box-shadow: 0px 0px 34px 10px rgba(79,79,79,0.57);
  box-shadow: 0px 0px 34px 10px rgba(79,79,79,0.57);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  border-radius: 20px;
  background: white;

}


.signup {
  padding-top: 100px;
}

.signup-content{
    display: inherit;
}

.register-title {
  font-size: 32px;
  margin-bottom: 25px; }


.form-submit {
  background: #336633;
  color: #F5F5F5;
  width: 75%;
  padding: 15px;
  border-radius: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
  cursor: pointer; }

.signup-form {
  margin-left: 35px;
  margin-right: 75px;
  padding-left: 20px; }


.form-group {
  margin-bottom: 25px;
  display: flex;
  overflow: hidden; }

input {
  width: 100%;
  border: none;
  border-bottom: 1px solid grey;
  padding-left: 20px;}

  input::placeholder {
    color: #404040; }
    }


.signup-image {
    width: 400px;
    height: 204px;
}
